/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss (1) ***!
  \**********************************************************************************************************************************************************/
/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #fff;
    color: #000;
  }
  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  table,
pre {
    page-break-inside: avoid;
  }
  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* Custom Styles */
body {
  overflow-x: hidden;
  overflow-y: auto;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

input,
select,
textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #6d5dfc;
}

h1 {
  font-weight: 700;
  color: #3a3a3a;
}

p {
  font-weight: 400;
}

.purple-font {
  color: #6d5dfc;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.container > nav,
aside,
main,
footer {
  padding: 15px;
}

.nav {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  min-height: 64px;
  overflow: hidden;
  background-color: #fff;
}

.nav > * {
  cursor: pointer;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.nav-left > h1 {
  margin-left: 10px;
  color: #3a3a3a;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  color: #3a3a3a;
}

.nav-right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-right > ul > li,
.nav-right > * {
  margin-left: 20px;
}

.border1 {
  border: 3px solid red;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mobile-nav {
  display: none;
}

.aside {
  grid-column: 1/2;
  background-color: #3a3a3a;
  color: #5a5a5a;
  padding: 30px;
}

.time {
  margin-bottom: 15px;
  color: #fff !important;
  cursor: pointer;
}

.time > div > h1 {
  color: #fff !important;
  opacity: 0.9;
}

.time > ul > li {
  color: #fff !important;
  opacity: 0.9;
  margin-top: 15px;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task {
  margin-left: 15px;
}

#add {
  cursor: pointer;
}

.main {
  grid-column: 2/-1;
  background-color: #ebeced;
}

.main-container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 30px 15px 30px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 30px;
}

.main-container-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.main-container-add > img {
  margin-left: 15px;
}

.card {
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  padding: 15px;
  background-color: #dbdbdb;
  height: 400px;
}

.card > * {
  margin-bottom: 15px;
}

.hover-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.trash-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-column: 1/-1;
  min-height: 64px;
  background-color: #fff;
  color: #3a3a3a;
}

.footer > div {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer > div > a {
  margin-left: 20px;
}

.modal {
  border: none;
}

.modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.modal-container > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.modal-container > form > label {
  margin-bottom: 15px;
}

.modal-container > form > input,
select,
textarea {
  margin-bottom: 20px;
}

.button-style {
  height: 3rem;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem #bfbfbf, -0.2rem -0.2rem 0.5rem #fff;
          box-shadow: 0.3rem 0.3rem 0.6rem #bfbfbf, -0.2rem -0.2rem 0.5rem #fff;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: white;
  font-size: 1rem;
}

.button-style-primary {
  background: #6d5dfc;
  -webkit-box-shadow: inset 0.2rem 0.2rem 1rem #8abdff, inset -0.2rem -0.2rem 1rem #5b0eeb, 0.3rem 0.3rem 0.6rem #ebeced, -0.2rem -0.2rem 0.5rem #fff;
          box-shadow: inset 0.2rem 0.2rem 1rem #8abdff, inset -0.2rem -0.2rem 1rem #5b0eeb, 0.3rem 0.3rem 0.6rem #ebeced, -0.2rem -0.2rem 0.5rem #fff;
  color: #bfbfbf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-style-primary:hover {
  color: #fff;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.low {
  color: green;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.medium {
  color: yellow;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.high {
  color: orange;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.urgent {
  color: red;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.error {
  background-color: #ff7070;
  color: white;
}

#today,
#thisweek,
#thismonth,
#thisyear,
#future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardTitleUnique {
  display: inline;
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 950px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1;
    grid-template-rows: 0.5fr 2fr 4fr 0.5fr;
  }
  .nav {
    grid-column: 1/-1;
  }
  .aside {
    grid-column: 1/-1;
  }
  .main {
    grid-column: 1/-1;
  }
  .footer {
    grid-column: 1/-1;
  }
  .time {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    margin-right: 20px;
  }
  .modal-container {
    width: 300px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
}
